<div class="row">
  <div class="col-md-4">
    <p id="notice"><%= notice %></p>
    <div class="field">
    <p>
      <strong>Tipo de cambio:</strong>
      <%= @typeChange.name %>
    </p>

    <p>
      <strong>Fecha Desde:</strong>
      <%= @typeChange.start_dt %>
    </p>

    <p>
      <strong>Fecha Hasta:</strong>
      <%= @typeChange.end_dt %>
    </p>


   
  </div>
  
  <div class="col-md-4"></div>
  <div class="col-md-4"></div>
</div>