<div class="row">
  <div class="col-md-2">
    <%= simple_form_for(@category) do |f| %>
    <div class="field">

      <%= f.input :name %>
    </div>
    <div class="field">
      <%= f.input :start_dt, as: :date, input_html: { value:  Date.today.strftime("%F")  } ,html5: true  %>
    
    </div>
    <div class="actions">
      <%= f.submit  :class => "btn btn-primary" %>
    </div>
    <% end %>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-4"></div>
  <div class="col-md-4"></div>
</div>